/* Importando a fonte Montserrat do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
/* Definição de variáveis CSS personalizadas usando :root */
:root {
  --fonte-principal: "Montserrat", sans-serif;
  --fonte-cor: #0c0c0c;
  --input-fundo-cor: #01001f;
  --input-fonte-cor: #e4e4e4;
  --fundo-cor-place-holder: #d9d9d9;
  --fundo-cor-popUp-positivo: #0eaa6c;
  --fonte-tamanho-titulo: 4vw;
  --fonte-tamanho-titulo-telas-md-sm: 8.5vw;
  --fonte-tamanho-titulo-secundario: 3vw;
  --fonte-tamanho-titulo-secundario-md-sm: 7vw;
  --fonte-tamanho-input: 2.5vw;
  --fonte-tamanho-input-md-sm: 5vw;
}
/* Reset de estilos padrão para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}

.titulo {
  font-size: var(--fonte-tamanho-titulo);
  font-weight: 700;
  color: var(--fonte-cor);
}
.titulo-secundario {
  font-size: var(--fonte-tamanho-titulo-secundario);
  font-weight: 500;
  color: var(--input-fonte-cor);
}
.margin-bottom-g {
  margin-bottom: 3%;
}
.margin-bottom-m {
  margin-bottom: 2.5%;
}
.input {
  font-size: var(--fonte-tamanho-input);
  font-weight: 500;
  color: var(--fonte-cor);
}
#texto-popUp {
  padding-right: 0.5vw;
}

#senhaInput,
#btnGerarSenha,
#btnCopia {
  background-color: var(--input-fundo-cor);
  border-radius: 5px;
  border-style: none;
  padding: 1% 3%;
  width: 40vw;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.checkBoxCustomizado:hover,
#btnGerarSenha:hover,
#btnCopia {
  cursor: pointer;
}
#senhaInput {
  color: var(--fundo-cor-place-holder);
  font-style: italic;
  overflow-x: auto;
}
.checkBoxCustomizado {
  height: 40px;
  width: 40px;
  margin-right: 3%;
}
.checkBoxCustomizadoNumero {
  height: 40px;
  width: 80px;
  margin-right: 3%;
}

#elementoTexto,
#inputCaixaFlex,
.inputFlex,
main,
#popUpPositivo {
  display: flex;
}
#elementoTexto,
#inputCaixaFlex {
  flex-direction: column;
}
#elementoTexto {
  align-items: start;
  justify-content: center;
  width: 45vw;
  padding-right: 5%;
}
.inputFlex,
main,
#popUpPositivo {
  align-items: center;
}
.inputFlex {
  justify-content: flex-start;
}
#imagem {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}
#popUpPositivo {
  background-color: var(--fundo-cor-popUp-positivo);
  padding: 0.5vw;
  opacity: 0;
  border-radius: 20px;
  position: absolute;
  left: 2.5vw;
  top: 5vw;
}
.popUpPositivoRevelar {
  opacity: 1;
}
main {
  justify-content: space-between;
}
/* Ajustes de layout responsivo para telas menores */
@media (max-width: 700px) {
  main {
    flex-direction: column;
  }
  #imagem {
    width: 100vw;
    height: 100vh;
  }
  #elementoTexto {
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    width: 100vw;
    height: 100vh;
  }
  .titulo {
    font-size: var(--fonte-tamanho-titulo-telas-md-sm);
  }
  .titulo-secundario {
    font-size: var(--fonte-tamanho-titulo-secundario-md-sm);
  }
  .input {
    font-size: var(--fonte-tamanho-input-md-sm);
  }
  .checkBoxCustomizado {
    height: 30px;
    width: 30px;
  }
  .checkBoxCustomizadoNumero {
    height: 30px;
    width: 50px;
  }
  #senhaInput,
  #btnGerarSenha {
    background-color: var(--input-fundo-cor);
    border-radius: 5px;
    border-style: none;
    padding: 1% 3%;
    width: 90vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
